/*W3hubs.com - Download Free Responsive Website Layout Templates designed on HTML5 CSS3,
Bootstrap,Tailwind CSS which are 100% Mobile friendly. w3Hubs all Layouts are responsive cross browser supported,
best quality world class designs.*/
body {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

.col-3 {
  padding: 0 !important;
}
.col-6 {
  padding: 0 !important;
}

.col-9 {
  padding: 0 !important;
}

button,
textarea {
  border-radius: 0px !important;
  font-size: 24px !important;
}

button {
  width: 100%;
  text-align: center;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  outline: none;
}

.btn-primary:focus,
.btn-primary,
.form-control:focus {
  box-shadow: none !important;
}

.col-xs-6 button {
  width: 150px;
}

.form-control:nth-child(1) {
  height: 150px;
}

.form-group {
  margin-bottom: 0px;
}

.card-body{
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}