/*W3hubs.com - Download Free Responsive Website Layout Templates designed on HTML5 CSS3,
Bootstrap,Tailwind CSS which are 100% Mobile friendly. w3Hubs all Layouts are responsive cross browser supported,
best quality world class designs.*/
body {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

.col-3 {
  padding: 0 !important;
}
.col-6 {
  padding: 0 !important;
}

.col-9 {
  padding: 0 !important;
}

button,
textarea {
  border-radius: 0px !important;
  font-size: 24px !important;
}

button {
  width: 100%;
  text-align: center;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  outline: none;
}

.btn-primary:focus,
.btn-primary,
.form-control:focus {
  box-shadow: none !important;
}

.col-xs-6 button {
  width: 150px;
}

.form-control:nth-child(2) {
  height: 5em;
}

.form-control {
  width: 100%;
}

.inputs-body{
  padding-bottom: 1rem !important;
}

.buttons-body{
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.h1 {
  text-align: center;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;  
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;  
  border-color: #ced4da !important;
}
